<p-selectButton styleClass="ml-2 mb-1"
  [options]="(years$ | async)!" 
  (onOptionClick)="yearSelectionChange($event)"
  optionLabel="yearNumber" 
  optionValue="yearNumber"
  >
</p-selectButton>

<!-- <mat-tab-group>
  
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">watch_off</mat-icon>
      PTO
    </ng-template>
    PTO Content Here
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">celebration</mat-icon>
      Holidays
    </ng-template>
    <app-holidays></app-holidays>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">date_range</mat-icon>
      Schedule
    </ng-template>
    Schecule Content Here
  </mat-tab>
</mat-tab-group> -->

<div class="card">
  <p-tabView>

    <p-tabPanel header="Header I" styleClass="p-tabview-panels-override">
        <ng-template pTemplate="header">
          <i class="fa-regular fa-calendar-check mr-2"></i>
          <!-- <i class="bi bi-calendar2-week mr-2"></i> -->
            <span>PTO</span>
        </ng-template>
        <app-pto></app-pto>
    </p-tabPanel>

    <p-tabPanel header="Header III">
        <ng-template pTemplate="header">
            <!-- <i class="pi pi-search mr-1"></i> -->
            <i class="fa-regular fa-calendar-days mr-2"></i>
            <span style="text-decoration: none">Holiday Schedule</span>
        </ng-template>
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
            qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
        </p>
    </p-tabPanel>
    
    <p-tabPanel  header="Header II">
      <ng-template pTemplate="header">
        <i class="fa-solid fa-gift mr-2"></i>
          <span>Holidays</span>
      </ng-template>
      <app-holidays></app-holidays>
  </p-tabPanel>

  </p-tabView>
</div>