<mat-tab-group>
  
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">watch_off</mat-icon>
      PTO
    </ng-template>
    <!-- PTO compenent here -->
    PTO Content Here
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">celebration</mat-icon>
      Holidays
    </ng-template>
    <app-holidays></app-holidays>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">date_range</mat-icon>
      Schedule
    </ng-template>
    <!-- <app-holidays></app-holidays> -->
    Schecule Content Here
  </mat-tab>

  <!-- <mat-tab label="Schedule"> Schedule </mat-tab> -->

</mat-tab-group>


<!-- <span class="material-symbols-outlined">
  featured_seasonal_and_gifts
  </span> -->