/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
// @import "node_modules/bootstrap/dist/css/bootstrap.min.css";


html, body { height: 100%; font-size:medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
body { margin: 0;  }

.card {
    // background: var(--surface-card);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    margin-bottom: 0rem;
    border: 0;
    --bs-card-spacer-x: 0rem;
}

.col {
    // flex: 0 0 auto;
    margin: 0px;
    padding: 0px; 
    // width: 66.6667%;
  }

.p-tabview .p-tabview-panels {
    // background: #ffffff;
    padding-top: 0rem !important; ; 
    // border: 0 none;
    // color: #4b5563;
    // border-bottom-right-radius: 6px;
    // border-bottom-left-radius: 6px;
}



a {
    // color: var(--#{$prefix}#4b5563);
    text-decoration: none;
  
    &:hover {
      color: var(--#{$prefix}link-hover-color);
      text-decoration: $link-hover-decoration;
    }
  }

  fs-11 {
    span,p {
      font-size: 11;
    }
  }
