
<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  {{title}}
</mat-toolbar>

<mat-sidenav-container>  
  
  


  <mat-sidenav #sidenav="matSidenav" mode="side" class="mat-elevation-z8" opened>
    <button mat-button class="menu-button"
      routerLink="/home-dashboard"
      [routerLinkActiveOptions]="{exact: true}"
      routerLinkActive="active-link">      
      <mat-icon  style="color: white">home</mat-icon>
      <span  class="nav-text">Home</span>
    </button>
    <button mat-button class="menu-button"
      routerLink="/time-tracking" 
      routerLinkActive="active-link">
      <mat-icon style="color: white">schedule</mat-icon>
      <span  class="nav-text">Time Tracking</span>
    </button>
    <button mat-button class="menu-button"
      routerLink="/days-off"
      routerLinkActive="active-link">
      <mat-icon  style="color: white">calendar_month</mat-icon>
      <span  class="nav-text">Days Off</span>
    </button>
    
    <mat-divider  class="nav-text"></mat-divider>
  
    <button mat-button class="menu-button">
      <mat-icon  style="color: white">help</mat-icon>
      <span class="nav-text">Help</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>

  
    <!-- <div class="content mat-elevation-z8"> -->
      <router-outlet></router-outlet>
    <!-- </div> -->
  </mat-sidenav-content>
  <!-- <router-outlet></router-outlet> -->
</mat-sidenav-container>

