

.active-link {
  color: blue;
  font-weight: bold !important;
}

$toolbar-height: 55px;

mat-toolbar {
    background: #2d2d2d;
    color: white;
    height: $toolbar-height;
  }

  mat-sidenav-container {
    height:  calc(100vh - $toolbar-height) !important;
  }

  .md-sidenav-content {
    display: flex !important;
    flex-direction: column !important;
  }
  
  mat-sidenav {
    margin: 0px;
    width: 200px;
    border-right: none;
    background: #2d2d2d;
    color: white;
    border-radius: 0px;
    padding: 10px;
    text-align: center;
  }

  .nav-text {
    color: white;
  }
  
  // .content {
  //   height: 100%;
  //   border-radius: 0px;
  //   margin: 0px;
  //   // margin-left: 32px;
  
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  
  //   font-size: 2rem;
  //   color: lightgray;
  // }
  
  

  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    color: white;
  
    mat-icon {
      margin-right: 8px;
    }

  }

  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }