<ng-template #componentLoading class="d-flex justify-content-center mb-3">
  <div class="w-100 text-center mt-5">
    <span class="k-icon k-i-loading k-icon-xl"></span>
  </div>
</ng-template>
<!-- <div class="spinner-container" *ngIf="!(holidayDates$ | async)">
  Loadng
</div>
<div>
  <kendo-grid 
  *ngIf="holidayDates$ | async as holidayDates"
    [kendoGridBinding]="holidayDates"
    [filterable]="true"
    [resizable]="true"
    [sortable]="true">
    <kendo-grid-column field="holiday.holidayName" title="Holiday Name"></kendo-grid-column>
    <kendo-grid-column field="holiday.isPlantObserved" title="Plant Holiday"> </kendo-grid-column>
    <kendo-grid-column field="holiday.note" title="Note"> </kendo-grid-column>
</kendo-grid>
  <kendo-grid 
  *ngIf="holidays$ | async as holidays"
    [kendoGridBinding]="holidays"
    [filterable]="true"
    [resizable]="true"
    [sortable]="true">
    <kendo-grid-column field="holidayName" title="Holiday Name"></kendo-grid-column>
    <kendo-grid-column field="isPlantObserved" title="Plant Holiday"> </kendo-grid-column>
    <kendo-grid-column field="note" title="Note"> </kendo-grid-column>
</kendo-grid>
</div> -->

<!-- <div class="example-table-container">
  <table mat-table 
    *ngIf="holidays$ | async as holidays"
    [dataSource]="holidays" 
    matSort 
    class="example-table"
    >

    <ng-container matColumnDef="holidayName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Holiday
      </th>
      <td mat-cell *matCellDef="let holiday"> {{holiday.holidayName}} </td>
    </ng-container>

    <ng-container matColumnDef="isPlantObserved">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
        Plant Holiday
      </th>
      <td mat-cell *matCellDef="let holiday"> {{holiday.isPlantObserved}} </td>
    </ng-container>

    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
        Note
      </th>
      <td mat-cell *matCellDef="let holiday"> {{holiday.note}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div> -->

<div *ngIf="holidays$ | async as holidays">

  <p-table
    *ngIf="holidays; else componentLoading"
    [value]="holidays" 
    styleClass="p-datatable-gridlines mt-2" 
    [tableStyle]="{ 'min-width': '30rem' }">
    <!-- <ng-template pTemplate="caption"> Header </ng-template> -->
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="holidayName">
              Holiday
              <p-sortIcon field="holidayName"></p-sortIcon>
            </th>
            <th pSortableColumn="isPlantObserved">
              Plant Holiday
              <p-sortIcon field="isPlantObserved"></p-sortIcon>
            </th>
            <th pSortableColumn="note">
              Note
              <p-sortIcon field="note"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-holiday>
        <tr>
            <td>{{ holiday.holidayName }}</td>
            <!-- <td>{{ holiday.isPlantObserved }}</td> -->
            <td>
              <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': holiday.isPlantObserved, 'text-red-500 pi-times-circle': !holiday.isPlantObserved }"></i>
            </td>
            <td>{{ holiday.note }}</td>
        </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary"> Footer </ng-template> -->
  </p-table>

</div>

