<div class="m-3" *ngIf="(currentDateSelection$ | async) as currSelDate">
    <p>
        Selected Date: {{ currSelDate | date: 'MM/dd/y' }}
    </p>
    <p>
        Week: {{ currSelDate | date: 'ww' }}
    </p>
    <div class="d-flex flex-row mb-3">
        <div class="p-2">
            <div class="card">
                <form [formGroup]="timeEntryForm">
                    <p-calendar  
                      formControlName="date"
                      [firstDayOfWeek]=1
                      [iconDisplay]="'input'" 
                      [showIcon]="true"
                      [inline]="true" 
                      [showWeek]="true"
                      [showButtonBar]="true"
                      (onSelect)="pushSelection($event)"
                    >
                    <ng-template pTemplate="date" let-date>
                        <span [ngStyle]="{textDecoration: (date.day < 21 && date.day > 10) ? 'line-through' : 'inherit'}">{{date.day}}</span>
                    </ng-template>
                </p-calendar>
                </form>
        
            </div>
        </div>
        <div class="p-2">
            <p-tabView>
                <p-tabPanel header="Time Entry">
                    <div class="d-flex flex-row mb-3">

                        <div class="card p2" *ngFor="let dt of datesForSelectedWeek$ | async">
                            <!-- <form [formGroup]="timeEntryForm"> -->
                            <!-- <task-unit [date]="dt">
                            </task-unit> -->
                           <day-header [date]="dt"></day-header>
                            <!-- </form> -->    
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Task Entry">
                    <div class="card">
                        <!-- <form [formGroup]="timeEntryForm"> -->
                            <task-unit [date]="currSelDate">
                            </task-unit>
                        <!-- </form> -->
                    
                    </div>
                </p-tabPanel>
            </p-tabView>
            
        </div>
    </div>
    
</div>
