<div  style="height: 400px;">

  <form [formGroup]="ptoForm">
    
    <div class="container">
      <div class="row">    
        <div class="col-4">
          <div class="flex flex-column gap-1">
            <label for="ptoDate">Date</label>
            <p-calendar 
              formControlName="ptoDate"
              [iconDisplay]="'input'" 
              [showIcon]="true"
              (onSelect)="getDayOfWeek($event)"
            ></p-calendar>
          </div>
          <div class="form-text ms-2 mb-3" 
            id="dayOfWeek" 
            [ngClass]="selectedDayOfWeek==='Saturday' || 
              selectedDayOfWeek==='Sunday'? 'red' : 'green'"
            >{{ selectedDayOfWeek }}</div>
        </div>
        <div class="col-8">
          <div class="flex flex-column gap-1 mb-3">
            <label for="reason">Reason for PTO</label>
            <input pInputText id="pto" aria-describedby="reason-help" formControlName="reason" />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="flex flex-column gap-1 mb-3">
          <label for="hours">How Many Hours</label>
          <p-selectButton [options]="hours" formControlName="hours"></p-selectButton>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-5">
          <div class="flex flex-column gap-1 mb-3">
            <label for="isScheduled">Is it Scheduled?</label>
            <p-inputSwitch formControlName="isScheduled"></p-inputSwitch>
          </div>
        </div>        
        <div class="col-3">
          <div class="flex flex-column gap-1 mb-3">
            <label for="isTaken">Is it Taken?</label>
            <p-inputSwitch formControlName="isTaken"></p-inputSwitch>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>


<!-- FOOTER -->
<div>
<hr class="mt-3 mb-3" style="width:98%;text-align:center;" color="gainsboro" size=".5">
<div class="flex w-full justify-content-end mt-3">
  <p-button type="button" 
      class="mr-2"
      label="Cancel" 
      icon="pi pi-times" 
      (click)="closeDialog({ buttonType: 'Cancel', summary: 'No Product Selected' })">
  </p-button>
  <p-button type="button" 
      label="Save" 
      icon="pi pi-check" 
      (click)="saveChanges({ buttonType: 'Save', summary: 'Saved Changes' })">
  </p-button>
</div>




