<p-toast></p-toast>
<div style="color: #2563eb">
  <h4>
    Year {{ selectedYear$ | async }}
  </h4>
</div>

<p-button 
  styleClass="mb-2" 
  label="Add PTO Entry" 
  icon="pi pi-plus" 
  class="mb-2"
  (click)="addPto()"
></p-button>
<!-- <i class="fa-regular fa-calendar-plus"></i> -->
<!-- <button pButton pRipple label="Add PTO Entry" class="p-button-primary mb-2" icon="pi pi-plus"></button> -->
<!-- <button class="btn btn-primary"><i class="fa-regular fa-calendar-plus">Add PTO Entry</i></button> -->

<ng-template #componentLoading class="d-flex justify-content-center mb-3">
  <div class="w-100 text-center mt-5">
    <span class="k-icon k-i-loading k-icon-xl"></span>
  </div>
</ng-template>

<div *ngIf="ptoSchedule$ | async as schedule">

  <p-table 
    *ngIf="schedule; else componentLoading"
    [value]="schedule"
    styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" 
    [resizableColumns]="true"
    [tableStyle]="{ 'min-width': '30rem' }" 
    [scrollable]="true"
    scrollHeight="calc(100vh - 335px)"
    >
    <!-- <ng-template pTemplate="caption"> Header </ng-template> -->
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 5rem;"></th> <!--edit button column-->
            <th pResizableColumn pSortableColumn="ptoDate">
              Date
              <p-sortIcon field="ptoDate"></p-sortIcon>
            <th pResizableColumn pSortableColumn="dayOfWeek">
              Day of Week
              <p-sortIcon field="dayOfWeek"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="reason">
              Reason
              <p-sortIcon field="reason"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="hours">
              Hours
              <p-sortIcon field="hours"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="isScheduled">
              Scheduled
              <p-sortIcon field="isScheduled"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="isTaken">
              Taken
              <p-sortIcon field="isTaken"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="isTaken">
              Burn Down Hrs
              <p-sortIcon field="isTaken"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="isTaken">
              Burn Down Days
              <p-sortIcon field="isTaken"></p-sortIcon>
            </th>
            <!-- <th pSortableColumn="year">
              Year
              <p-sortIcon field="year"></p-sortIcon>
            </th> -->
            <th style="width: 5rem;"></th><!--delete button column-->
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-schedule let-columns="columns">
        <tr>
          <td title="Edit this entry." (click)="editPto(schedule)">
            <!-- <button type="button" pButton pRipple 
              icon="pi pi-pencil"                 
              class="p-button-sm p-button-raised"
              (click)="editPto(schedule)"   
              >
            </button> -->
            <i class="fa-solid fa-pencil ms-4" style="font-size: 1.15rem; color: #2563eb; cursor: pointer; width: 20px;" ></i>            
            <!-- <p-button styleClass="p-button-sm p-button-raised" icon="pi pi-pencil" class="mb-2" (click)="editPto(schedule)"></p-button> -->
        </td>
            <td>{{ schedule.ptoDate | date: 'MM/dd/yyyy' }}</td>
            <td>{{ schedule.dayOfWeek }}</td>
            <td>{{ schedule.reason }}</td>
            <td>{{ schedule.hours }}</td>
            <!-- <td [pEditableColumn]="schedule.hours" pEditableColumnField="hours">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText [(ngModel)]="schedule.hours" />
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{ schedule.hours }}
                  </ng-template>
              </p-cellEditor>
          </td> -->
            <td class="max-width td-center">
              <!-- <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': schedule.isScheduled, 'text-red-500 pi-times-circle': !schedule.isScheduled }"></i> -->
              <div class="form-switch" >
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="schedule.isScheduled">
                <!-- <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label> -->
              </div>
            </td>
            <td class="max-width td-center">
              <div class="form-switch " >
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="schedule.isTaken">
              </div>
              <!-- <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': schedule.isTaken, 'text-red-500 pi-times-circle': !schedule.isTaken }"></i> -->
            </td>
            <td>{{ schedule.burndownHours }}</td>
            <td>{{ schedule.burndownDays }}</td>
            <td title="Delete this entry." (click)="deletePto(schedule)">
              <!-- <button type="button" pButton pRipple 
                icon="pi pi-minus"                 
                class="p-button-sm p-button-danger p-button-raised"      
                (click)="deletePto(schedule)">
              </button> -->
              <i class="fa-solid fa-square-minus" style="font-size: 1.5rem; color:  #ef4444; cursor: pointer; width: 20px;" ></i>
              <!-- <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" size="small"></p-button> -->
              <!-- <button type="button" pButton pRipple class="btn btn-danger btn-sm" icon="pi pi-minus"></button> -->
          </td>
        </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary"> Footer </ng-template> -->
  </p-table>

</div>


