<p-card class="m-0" [style]="{ width: '250px' }">
  <ng-template pTemplate="title"> {{date | date: 'EEEE' }} </ng-template>
  <ng-template pTemplate="subtitle"> {{date | date: 'MMM d, y' }} </ng-template>
  <!-- <ng-template pTemplate="header">
    <p class="font-bold time-entry-hdr ms-2 mb-0">{{date | date: 'EEEE,  MMM d, y' }} </p>
  </ng-template> -->
  <p class="mt-0 ms-2 mb-2">Start Time: {{ startTime | date: 'h:mm a' }} </p>
  <p class="m-2">End Time: {{ endTime | date: 'h:mm a' }} </p>
  <p class="m-2">Total Time: {{ elapsedTime?.hours }}:{{ elapsedTime?.minutes }} | {{ elapsedHours }} </p>
</p-card>